*{
margin: 0;
padding: 0;
}

.work-sans{
  font-family: "Work Sans", sans-serif;
}



/* nav start */


nav{
    background-color: #1A0B2E;
    /* width: 1200px */
    height: 92px;
    
}

.nav-about li{
    list-style: none;
}

.nav-about a{
    text-decoration: none;
    color: #FFFFFF;

}

/* .nav-about{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    margin-right: 150px;
} */

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid gray;
}

.tech{
    color: white;
}


.wave{
background: linear-gradient(to right, rgba(251, 9, 180, 1), rgba(247, 233, 63, 1), rgba(145, 0, 248, 1));
/* -webkit-background-clip: text;  */
 background-clip: text;
  color: transparent;
}

.nav-container h4{
font-size: 25px;
}

.nav-btn{
    /* margin-right: 150px; */
}

.about-section ul{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    /* margin-right: 150px; */
}

#hamburger-menu{
    display: none;
}

.btn{
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
}


/* hero start */

/* .btn-hero{
    width: 150px;
    height: 44px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-style: none;
    color: #FFFFFF;
}

.btn-hero-2{
    width: 150px;
    height: 44px;
    border-radius: 10000px;

    border-style: none;
    color: green;
    background-color: transparent;
    border: 2px solid green;
}

.hero-btn-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-left: 100px;
}

.hero{
    
}
.hero-container{
    width: 100%;
    
}


.hero-mid{

    display: flex;
    justify-content: center;
    margin-top: -650px;
    margin-right: -30px;
    
}
.img-2{
    margin-left: -250px;
    margin-top: 70px;
    width: 150px;
    height: 200px;
}
.img-2:hover{
    transform: scale(0.5);
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    margin-right: -150px;

}

.hero-content h1{
font-style: Extra Bold;
font-size: 60px;
font-weight: 800;
line-height: 73px;
}

.hero-content p{
font-size: 16px;
font-weight: 400;
line-height: 19px;
} */




.check{
    /* max-width: 1470px; */
    max-width: 100%;
    height: 750px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -650px;
    /* margin-right: -30px; */
    margin-right: 100px;
}
.mic{
    margin-left: -250px;
    margin-top: 40px;
    width: 150px;
    height: 200px;
}
.mic:hover{
    transform: scale(0.5);
}
.hero-content h1{
    margin-top: 40px;
}
.hero-content p{
    margin-top: 5px;
}
 .mother{
    text-align: center;
    color: white;
 }
 .btn-hero-2{
    width: 150px;
    height: 44px;
    border-radius: 10000px;
    border-style: none;
    color: green;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid green;
    cursor: pointer;
    /* gap: 20px; */
 }
 .hero-btn-middle{
    gap: 20px;
 }

 .btn-hero{
    width: 200px;
    height: 44px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;

}






/* main section start */
.pd{
    background-color: #1A0B2E;
    /* margin-top: 130px; */
    height: 100%;
    max-width: 100%;
}
.pd-content{
    color: white;
    margin: 0 auto;
    width: 900px;
}
.pd-content h1{
    text-align: center;
    font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
padding-top: 150px;
/* margin-top: 180px; */
}

.pd-content p{
    font-size: 16px;
font-weight: 400;
line-height: 20px;
margin-top: 10px;
opacity: 0.6;

}
.about-spn-1{
    margin-left: 70px;
}
.about-spn-2{
    margin-left: 180px;
}
.about-spn-3{
    margin-left: 50px;
    /* margin-bottom: 50px; */
}
.hr1{
border: 1px solid var(--#FFFFFF, rgba(255, 255, 255, 1));
opacity: 0.1;
margin-top: 80px;
}
.main-card{
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    /* margin-bottom: 100px; */
    gap: 100px;
    padding-bottom: 80px;
}
.about-card h3{
    font-style: Black;
font-size: 35px;
font-weight: 900;
line-height: 58px;
color: rgb(22, 232, 22);
}
.about-card p{
    font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
color: white;
}
.about-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}





/* why about start */

.why{
    background-color:#230E3D;
    max-width: 100%;
}

.why-header{
    text-align: center;
    padding-top: 100px;
    font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
color: white;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    gap: 30px;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    padding-top: 40px;
    padding-bottom: 120px;
}

.card-all{
    border-radius: 40px;
    /* border: 5px solid red; */
    padding: 40px;
    opacity: 0.8;
    background-color: rgba(53, 17, 101, 0.4);
    grid-column: span 1;
    grid-row: span 2;
}
.card-all-2{
border-radius: 40px;
    /* border: 5px solid red; */
    padding: 40px;
    opacity: 0.8;
    background-color: rgba(53, 17, 101, 0.4);
    grid-column: span 2;
    grid-row: span 1;
}
.card-all-3{
border-radius: 40px;
    /* border: 5px solid red; */
    padding: 40px;
    opacity: 0.8;
    background-color: rgba(53, 17, 101, 0.4);
    grid-column: span 2;
    grid-row: span 1;
}
.card-all-4{
border-radius: 40px;
    /* border: 5px solid red; */
    padding: 40px;
    opacity: 0.8;
    background-color: rgba(53, 17, 101, 0.4);
    grid-column: span 2;
    grid-row: span 1;
    height: 150px;
}
.card-all-5{
border-radius: 40px;
    /* border: 5px solid red; */
    padding: 40px;
    opacity: 0.8;
    background-color: rgba(53, 17, 101, 0.4);
    height: 150px;

}

.card-container h4{
    font-style: Bold;
font-size: 20px;
font-weight: 700;
line-height: 29px;
/* padding-bottom: 16px; */
}

.card-container p{
    font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 24px;
opacity: 0.6;
padding-top: 16px;
}

.card-all img{
    padding-top: 50px;
    padding-bottom: 16px;
}
.card-all-2 img{
    padding-bottom: 12px;
}
.card-all-3 img{
    padding-bottom: 12px;
}
.card-all-4 img{
    padding-bottom: 10px;
}
.card-all-5 img{
    padding-bottom: 10px;
}





/* featured section start */



.featured{
    background-color: #1A0B2E;
    width: 100%;
    height: 100%;
}
.episode{
    font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: center;
color: white;
padding-top: 100px;
}
.video-card{
    display: flex;
    gap: 20px;
    color: white;
    padding-right: 180px;
    padding-left: 120px;
    padding-top: 35px;
    padding-bottom: 120px;
}
.videos{
    border-radius: 24px 24px;
    /* border: 5px solid red; */
    opacity: 0.8;
    background-color: #250D44;
}

.video-1{
    border-radius: 24px 24px 0px 0px;

}
.video-2{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.videos h4{
    padding-top: 24px;
    padding-bottom: 12px;
    font-style: Bold;
font-size: 24px;
font-weight: 700;
line-height: 29px;
}
.time-color{
    color: #00FF88;
}
.videos p{
    padding-bottom: 15px;
    font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

/* Host section start */


.host{
    width: 100%;
    height: 100%;
    background-color: #1A0B2E;
    color: white;
    padding-bottom: 80px;
}
.host-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
border: 1px solid rgba(83, 60, 114, 1);
background-color: 1px	Inside
rgba(83, 60, 114, 1);
align-items: center;
}
.i1{
    /* width: 20px;
    height: 20px; */
    padding-left: 10px;
    padding-top: 7px;
    cursor: pointer;
}


.host-header{
    text-align: center;
    font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
padding-bottom: 30px;
}

.alex{
    background-color: #250D44;
    border-radius: 40px;
    /* padding: 20px; */
    display: flex;
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
}
.alex p{
    opacity: 0.6;
    padding-bottom: 15px;
}
.alex-2{
    display: flex;
    gap: 20px;
}
.alex-main{
align-items: center;
padding-top: 30px;
padding-left: 40px;
}

.kumar{
    font-style: Bold;
font-size: 32px;
font-weight: 700;
line-height: 39px;
padding-bottom: 20px;
}







@media screen and (max-width:576px) {
    .about-section, .btn {
        display: none;
    }
    #hamburger-menu{
        display: inline;
    }
    .hero-content p{
        margin-left: 10px;
        margin-right: 10px;
    }
    .main-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
    }
    .pd-content{
        width: 100%;
    }
    .pd{
        width: 100%;
    }
    .why-header{
        text-align: center;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }
    .card-all-4 {
        padding-bottom: 150px;
    }
    .card-all-2{
        padding-bottom: 170px;
    }
    .why-header{
        font-size: 32px;
    }
    .video-card{
        flex-direction: column;
        margin-left: -90px;
    }
    .videos{
        width: 380px;
    }
}
