*{
margin: 0;
padding: 0;
}

.work-sans{
  font-family: "Work Sans", sans-serif;
}



/* nav start */


nav{
    background-color: #1A0B2E;
    /* width: 1200px */
    height: 92px;
    
}

.nav-about li{
    list-style: none;
}

.nav-about a{
    text-decoration: none;
    color: #FFFFFF;

}

/* .nav-about{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    margin-right: 150px;
} */

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid gray;
}

.tech{
    color: white;
}


.wave{
background: linear-gradient(to right, rgba(251, 9, 180, 1), rgba(247, 233, 63, 1), rgba(145, 0, 248, 1));
/* -webkit-background-clip: text;  */
 background-clip: text;
  color: transparent;
}

.nav-container h4{
font-size: 25px;
}

.nav-btn{
    /* margin-right: 150px; */
}

.about-section ul{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    /* margin-right: 150px; */
}

#hamburger-menu{
    display: none;
}

.btn{
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-style: none;
    color: #FFFFFF;
}


/* hero start */

.btn-hero{
    width: 150px;
    height: 44px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-style: none;
    color: #FFFFFF;
}

.btn-hero-2{
    width: 150px;
    height: 44px;
    border-radius: 10000px;

    border-style: none;
    /* color: #FFFFFF; */
    color: green;
    background-color: transparent;
    border: 2px solid green;
}

.hero-btn-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-left: 100px;
}

.hero{
    width: 100%;
}
.hero-container{
    width: 100%;
    
}


.hero-mid{
    /* width: 350px;
    height: 350px; */
    display: flex;
    justify-content: center;
    /* align-self: center; */
    /* margin: 0 auto; */
    margin-top: -650px;
    margin-right: -30px;
    
}
.img-2{
    margin-left: -250px;
    margin-top: 70px;
    width: 150px;
    height: 200px;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    margin-right: -150px;

}

.hero-content h1{
font-style: Extra Bold;
font-size: 60px;
font-weight: 800;
line-height: 73px;
}

.hero-content p{
font-size: 16px;
font-weight: 400;
line-height: 19px;
}




@media screen and (max-width:576px) {
    .about-section, .btn {
        display: none;
    }
    #hamburger-menu{
        display: inline;
    }
}
